html{
    background-color: rgba(63, 127, 191, 0.30);
}
body{
    width: 900;
    margin: 20 auto;
    background-color:white;
    padding: 50 150;
    border: 5px solid black;
    box-shadow: 10px 10px 5px grey;
    font-family: 'Times New Roman', serif;

}
hr{
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
h1{
    margin: 0;
    padding: 20 0;
    
    font-size: 45;
    text-align: center;

}
h2{
    font-size: 21;
    text-decoration: underline;
    margin: 20 0 0 0;
}
h3{
    margin: 5 0;
    line-height: 1.5;
    font-size: 20;
}
ul{
    margin: 0;
    line-height: 1.5;
    text-align: justify;
    font-size: 20;
}
p{
    margin: 0;
    line-height: 1.5;
    font-size: 20;
}

.info>p{
    font-size: 18;
}
.sub{

    font-style: italic;
}


.item-head>.head1{
    display: inline-block;
}
.item-head>.head2{
    float: right;
    text-align: right;
    margin: 5 0;
    font-size: 19;
}
.head2>p{
    line-height: 1.5;
}