html{
    background-color: rgba(63, 127, 191, 0.30);
}
body{
    width: 900;
    margin: 20 auto;
    background-color:white;
    padding: 50 150;
    border: 5px solid black;
    box-shadow: 10px 10px 5px grey;
    font-family: 'Times New Roman', serif;
    font-size: 20
}
h1{
    margin: 0;
    padding: 20 0;
    
    font-size: 45;
    text-align: center;

}
h2{
    font-size: 21;
    text-decoration: underline;
}
h3{
    margin: 5 0;
    line-height: 1.5;
    font-size: 20;
}
ul{
    margin: 0;
    line-height: 1.5;
}
p{
    margin: 0;
    line-height: 1.5;
}
.sub{

    font-style: italic;
}